html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #f8f8f8;
}

@font-face {
  font-family: flexslider-icon;
  src: url(../fonts/flexslider-icon.woff);
}

.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 4px 2px 1px #000;
}
.text-vcenter h3 {
  color: #fff;
  font-size: 3em;
  text-shadow: 4px 2px 1px #000;
}

#home {
  background: url(../images/connections.jpg) no-repeat center center fixed; 
  display: table;
  height: 65%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#services {
  background: url(../images/connections.jpg) no-repeat center center fixed; 
  color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#services h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 2px 2px 1px #444;
}

#services .glyphicon {
  border: 2px solid #444;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

.about-img-container {
  width: 75%;
  margin: 0 auto;
}

.nav-contact {
  text-align: right;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding-top: 10px;
  font-weight: bold;
}


.flexslider {
  width: 100%;
}

.flexslider img {
  max-width:100%;  
  height:auto;
}

.flex-control-nav {
  bottom: 25px;
  color: #eb9316;
}

.flexslider-container {
  max-width: 100%;
  margin: 0!important;
  padding: 0!important;
}

.flexslider .slides > li {
  margin:0 !important;
}

.flexslider {
  margin: 0 0 94px !important;
  border: 0px !important;
}

.logo-text {
  margin-left: -25px;
}

.navbar-default .navbar-nav > li > a {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #777;
}

.btn-warning {
  background-image: linear-gradient(to bottom, #9E003A 0%, #CB2E67 100%);
  border-color: #A6053F;
}

.btn-warning:hover {
  background-color: #CB2E67;
  border-color: #A6053F;
}
 
#services .row {
  background: #f8f8f8;
  margin: 0 auto;
  width: 85%;
  color: #444;
}

.services-wrapper, 
.content {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 18px;
  color: #444;
  line-height: 1.7em;
}

.services-wrapper h3 {
  background: rgb(224, 222, 222);
  padding: 14px;
  text-align: center;
  margin-top: 0;
}

.text-center {
  padding-top: 20px;
}

#services .btn-md, 
#services .btn-lg {
  margin-bottom: 30px;
}

.text-left {
  padding-left: 30px;
}
@media (max-width: 1200px) {
  #services .row {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  #services .row {
    width: 100%;
  }
  .text-vcenter h3 {
    font-size: 2em;
  }
  .text-vcenter h1 {
    font-size: 3em;
  }
}
@media (max-width: 600px) {
  #services .row {
    width: 100%;
  }
}

